<style>
th {
  background-color: #333;
  color: #9be;
}

td {
  border: 1px solid black;
}
</style>

<table>
	<tr><th>Name</th><th>Value</th></tr>
	{{#.}}<tr><td>{{key}}</td><td>{{value}}</td></tr>{{/.}}
</table>